---
// src/components/GiscusComments.astro
---
<section id="giscus-comments" class="giscus-container">
  <script src="https://giscus.app/client.js"
    data-repo="gin-melodic/my-blog"
    data-repo-id="R_kgDOP2GsHQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOP2GsHc4CwEWJ"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</section>

<style>
  /* Optional: Add some basic styling */
  .giscus-container {
    margin-top: 3rem;
  }
</style>